{% extends "admin.html" %}
{% block content %}

{%load crispy_forms_tags %}

<div class="card text-bg-secondary mb-3" style="max-width: 25rem;">
<!--  <div class="card-header">WORKVIEW</div>-->
  <div class="card-body">
                      <div class="table-responsive">
                    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">SL NO</th>
      <th scope="col"><a href="{% url 'task_view' %}">Tittle</a></th>
      <th scope="col">Descrption</th>
      <th scope="col">Duedate</th>
      <th scope="col">Priority</th>
      <th scope="col">details</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
        <th scope="col">count</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{i.Title}}</td>
      <td>{{i.Descrption}}</td>
      <td>{{i.DueDate}}</td>
      <td>{{i.Priority}}</td>
        <td><a href="{% url 'detailsview' %}">details</a></td>
      <td><form action="{% url 'delete' i.id %}" method="post">
           {% csrf_token %}
           <button type="submit" class="btn btn-danger">DELETE</button>
       </form></td>
        <td><a href="{% url 'TaskUpdate' i.id %}" class="btn btn-warning">UPDATE</a></td>
      <td><a href="{% url 'count' %}">COUNT</a></td>
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">2</th>-->
<!--      <td>Jacob</td>-->
<!--      <td>Thornton</td>-->
<!--      <td>@fat</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">3</th>-->
<!--      <td colspan="2">Larry the Bird</td>-->
<!--      <td>@twitter</td>-->
    </tr>

  {% endfor %}
  </tbody>
</table>
                            </div>
</div>
              </div>
{% endblock %}

</body>
</html>